@model WilliamsWeb1.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMilestones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMilestones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

    </dl>
</div>
<div>
    @if (!Model.isActive)
    {
        <p>To make the down payment on this project please select the correct typ in the form below and copy your project name into the name field</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="CJFW4A28A5BCJ">
            <table>
                <tr><td><input type="hidden" name="on0" value="Type">Type</td></tr>
                <tr>
                    <td>
                        <select name="os0">
                            <option value="Website">Website $1,000.00 USD</option>
                            <option value="Mobile App">Mobile App $1,500.00 USD</option>
                            <option value="Misc.">Misc. $750.00 USD</option>
                        </select>
                    </td>
                </tr>
                <tr><td><input type="hidden" name="on1" value="Project Name">Project Name</td></tr>
                <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
            </table>
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
